<!DOCTYPE html>
<html>

<head>
    <title><%= title %>: Watch</title>

    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- bootstrap 3.3 (custom, full) -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap33/bootstrap.min.css">
    <script src="/js/bootstrap33/bootstrap.min.js"></script>
    
    <link href="/css/google-font-Roboto.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/nahtube.css">

    <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        width: 99%;
    }

    #related-videos-list {
        height: auto;
        max-height: 90vh;
    }

    </style>    
    <script>
        function assembleQueryString(videoId, channelId) {
            var qstr = '?v=' + videoId;

            qstr += (channelId ? '&c=' + channelId : '' );

            return qstr;
        }
        function getRelatedVideos(videoId) {
            $("#related-videos-list").empty();

            // AJAX call to populate the Allowed Channels div above
            $.get( "/youtube/related/" + videoId, function( data ) {
                $( ".result" ).html( data );
                $.each(data.items, function(index, entry) {

                    var video_row_post = 
                        '<form id= "' + entry.id.videoId + '" method="POST" action="/youtube/watch' + assembleQueryString(entry.id.videoId, entry.snippet.channelId) + '">' +
                        '<div class="related-video-container" class="row">' +
                        '  <input id="' + entry.id.videoId + '-json" name="videoDetailsFull" class="video-url" type="hidden">' +
                        '   <table border=0><tr><td>' +
                            '  <div class="video-link" onClick=$("#' + entry.id.videoId + '").submit()>' +
                            '    <div class="video-thumbnail"><img src="' + entry.snippet.thumbnails.default.url + '"></div>\n' +
                            '  </div>\n' +
                        '   </td><td width="100%">' +
                        '       <div class="video-content col">' + 
                        '           <h3 class="video-title">' + 
                        '               <div class="video-link" onClick=$("#' + entry.id.videoId + '").submit()>' + entry.snippet.title + '</div>\n' +
                        '           </h3>\n' + 
                        '           <div class="video-meta">' + entry.snippet.channelTitle + '</div>\n' +
                        '       </div>' +
                        '   </td></tr></table>' +
                        '</div>' +
                        '</form>';

                    $("#related-videos-list").append(video_row_post);

                    $('#' + entry.id.videoId + '-json').val(JSON.stringify(entry)).html();
                });
            });
        }
    </script>
</head>

<body>

    <% include topbar.ejs %>

    <div class="row">

        <div>
            <div id="player" class="col-8">
                <iframe id="ytplayer" type="text/html" width="854" height="480"
                src="https://www.youtube.com/embed/<%= videoId %>?autoplay=1&rel=0<%= startParam %>"
                frameborder="0"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen" 
                msallowfullscreen="msallowfullscreen" 
                oallowfullscreen="oallowfullscreen" 
                webkitallowfullscreen="webkitallowfullscreen"></iframe>
            </div>

            <% if (locals.videoTitle) { %>
                <div id="video-title"><%= videoTitle %></div>
            <% } %>

            <% if (locals.channelTitle) { %>
                <div id="channel-title"><a class="channel-title" href="/youtube/videos/<%= channelId %>"><%= channelTitle %></a></div>
            <% } %>
            
        </div>


        <div id="related-videos-list" class="col pre-scrollable">
        </div>

    </div>

    <script>
        getRelatedVideos( '<%= videoId %>' ); // this looks pretty bad to me...
    </script>

</body>

</html>